{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}

{%- for option in product.options_with_values -%}
  <div class="product-form__input product-form__input--dropdown">
    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
      {{ option.name }}
    </label>
    <div class="select">
      <select
        id="Option-{{ section.id }}-{{ forloop.index0 }}"
        class="select__select"
        name="options[{{ option.name | escape }}]"
        form="{{ product_form_id }}"
      >
        {%- for value in option.values -%}
          {%- assign variant = product.variants | where: 'title', value | first -%}
          <option
            value="{{ value | escape }}"
            data-inventory-quantity="{{ variant.inventory_quantity }}"
            {% if option.selected_value == value %}
              selected="selected"
            {% endif %}
          >
            {% if option_disabled -%}
              {{- 'products.product.value_unavailable' | t: option_value: value -}}
            {%- else -%}
              {{- value -}}
            {%- endif %}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
{%- endfor -%}
