<style>
  .collection-list-pagination .pagination_list,
  .collection-list-pagination .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  .collection-list-pagination .pagination_list > span,
  .collection-list-pagination .pagination > li {
    cursor: pointer;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
  }
  .collection-list-pagination .pagination_list > span {
    z-index: -1;
    opacity: 0;
    position: relative;
  }
  .collection-list-pagination .pagination_list > span.active {
    opacity: 1;
    z-index: 9;
  }
  .collection-list-pagination .pagination_list > span:hover,
  .collection-list-pagination .pagination > li:hover,
  .collection-list-pagination .pagination > li.active {
    border-color: #000;
  }
  .collection-list-pagination .pagination > li:not(:last-child) {
    margin-right: 5px;
  }
  .collection-list-pagination .products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .collection-list-pagination .card__media {
    width: 100%;
  }
  .collection-list-pagination .price {
    margin-top: 0.7rem;
  }
  .collection-list-pagination .price > span {
    margin-right: 5px;
  }
</style>

<div class="page-width collection-list-pagination">

    <h2>{{ section.settings.heading }}</h2>
    <div class="products-list grid--{{ section.settings.products_per_page }}-col-desktop grid--2-col-tablet-down"
         id="products-list">

    </div>
    <div class="pagination_list">
        <span id="next-button">&#60;</span>
        <ul class="pagination" id="pagination">

        </ul>
        <span id="prev-button">&#62;</span>
    </div>
</div>


<script>

    let currentPage = 1;
    let collectionData = {
        collection: '{{ section.settings.collection.handle }}',
        productsPerPage: '{{ section.settings.products_per_page }}',
        products_count: '{{ collections[section.settings.collection.handle].products_count }}'
    }

    function loadProducts(page) {
        let request = new XMLHttpRequest();
        request.open('GET', '/collections/' + collectionData.collection + '/products.json?page=' + page + '&limit=' + collectionData.productsPerPage, true);

        request.onload = function () {
            if (request.status >= 200 && request.status < 400) {
                let data = JSON.parse(request.responseText);
                let products = data.products;
                let totalPages = Math.ceil(collectionData.products_count / collectionData.productsPerPage);

                let productsList = document.getElementById('products-list');
                productsList.innerHTML = '';
                products.forEach(function (product) {
                    let productHTML = '<div class="product card-wrapper grid__item scroll-trigger animate--slide-in"><a class="card" href="/products/' + product.handle + '">';
                    productHTML += '<div class="card__inner ratio" style="--ratio-percent: 125%;"><div class="card__media">';
                    productHTML += '<div class="media media--transparent media--hover-effect">';
                    productHTML += '<img src="' + product.images[0].src + '" alt="' + product.title + '">';
                    if (product.images[1]) {
                        productHTML += '<img src="' + product.images[1].src + '" alt="' + product.title + '">';
                    }
                    productHTML += '</div></div></div>';
                    productHTML += '<div class="card__information">';
                    productHTML += '<h3 class="card__heading h5">' + product.title + '</h3>';
                    //productHTML += '<p>' + product.body_html + '</p>';
                    productHTML += '<div class="price price--on-sale">';
                    productHTML += '<span>' + formatPrice(product.variants[0].price) + '</span>';
                    if (product.variants[0].compare_at_price) {
                        productHTML += '<s class="price-item--regular"> ' + formatPrice(product.variants[0].compare_at_price) + '</s>';
                    }
                    productHTML += '</div></div>';
                    productHTML += '</a></div>';
                    productsList.innerHTML += productHTML;
                });

                let prevButton = document.getElementById('prev-button');
                let nextButton = document.getElementById('next-button');

                prevButton.addEventListener('click', function () {
                    if (currentPage > 1) {
                        changePage(currentPage - 1);
                    }
                });

                nextButton.addEventListener('click', function () {
                    if (currentPage < totalPages) {
                        changePage(currentPage + 1);
                    }
                });

                function updatePaginationButtons() {
                    if (currentPage === 1) {
                        prevButton.classList.remove('active');
                    } else {
                        prevButton.classList.add('active');
                    }

                    if (currentPage === totalPages) {
                        nextButton.classList.remove('active');
                    } else {
                        nextButton.classList.add('active');
                    }
                }

                updatePaginationButtons();

                let pagination = document.getElementById('pagination');
                pagination.innerHTML = '';
                for (let i = 1; i <= totalPages; i++) {
                    let activeClass = (i === page) ? 'active' : '';
                    pagination.innerHTML += '<li class="page-link ' + activeClass + '" onclick="changePage(' + i + ')">' + i + '</li>';
                }
            } else {
                console.error('onload error');
            }
        };

        request.onerror = function () {
            console.error('request error');
        };

        request.send();
    }

    function changePage(page) {
        currentPage = page;
        loadProducts(currentPage);
    }

    function formatPrice(price) {
        let currency = '{{ shop.currency | money | remove: '0.00' | strip }}';
        return currency + '' + price;
    }

    loadProducts(currentPage);
</script>

{% schema %}
{
"name": "Collect list pagination",
"disabled_on": {
"groups": ["header", "footer"]
},
"settings": [
{
"type": "inline_richtext",
"id": "heading",
"label": "Heading"
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
},
{
"type": "range",
"id": "products_per_page",
"min": 2,
"max": 4,
"step": 1,
"default": 4,
"label": "Products Per Page"
}
],
"presets": [
{
"name": "Collect list pagination"
}
]
}
{% endschema %}
