{{ 'image-compare-viewer.min.css' | asset_url | stylesheet_tag }}

<style>
  .image-compare {
    z-index: 1;
  }
</style>

<script src="{{ 'image-compare-viewer.min.js' | asset_url }}"></script>


<div class="page-width">
    <h2>{{ section.settings.title }}</h2>
    <div class="image-compare" id="image-compare">
        <img src="{{ section.settings.before_image | img_url: '1200x' }}" alt="after"/>
        <img src="{{ section.settings.after_image | img_url: '1200x' }}" alt="before"/>
    </div>
</div>

<script>

    const element = document.getElementById("image-compare");

    const viewer = new ImageCompare(element, {
        addCircle: true,
        startingPoint: 75,
        smoothing: true,
        smoothingAmount: 100,
        addCircleBlur: true,
        // hoverStart: true,
    }).mount();

</script>

{% schema %}
{
"name": "Image compare",
"settings": [
{
"id": "title",
"type": "text",
"label": "Title"
},
{
"id": "before_image",
"type": "image_picker",
"label": "Before Image"
},
{
"id": "after_image",
"type": "image_picker",
"label": "After Image"
}
],
"presets": [
{
"name": "Image compare",
"category": "Custom"
}
]
}
{% endschema %}
