{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-modal.css' | asset_url | stylesheet_tag }}

<div id="custom_modal">
    <div class="modal {% if section.settings.appearance_options == "when_load" %}when_load {% endif %}">
        <div class="modal-content" style="width: {{ section.settings.modal_width }}px;">
            <span class="close">&times;</span>
            {%- for block in section.blocks -%}
                {% case block.type %}
                {% when 'product' %}

                    <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>

                    {%- assign product = block.settings.product -%}
                    {%- assign product_form_id = 'product-form-' | append: section.id -%}
                    {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
                {%- if first_3d_model -%}
                    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
                <link
                        id="ModelViewerStyle"
                        rel="stylesheet"
                        href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
                        media="print"
                        onload="this.media='all'"
                >
                <link
                        id="ModelViewerOverride"
                        rel="stylesheet"
                        href="{{ 'component-model-viewer-ui.css' | asset_url }}"
                        media="print"
                        onload="this.media='all'"
                >
                {%- endif -%}

                    <div class="product grid grid--1-col grid--2-col-tablet">
                        <div class="grid__item product__media-wrapper{% if section.settings.media_position == 'right' %} medium-hide large-up-hide{% endif %}">
                            <media-gallery
                                    id="MediaGallery-{{ section.id }}"
                                    role="region"
                                    aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
                                    data-desktop-layout="stacked"
                            >
                                <div
                                        id="GalleryViewer-{{ section.id }}"
                                        class="product__media-list{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                                >
                                    {%- if block.settings.product != blank -%}
                                        {%- if product.selected_or_first_available_variant.featured_media != null -%}
                                            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
                                            <div class="product__media-item"
                                                 data-media-id="{{ section.id }}-{{ media.id }}">
                                                {% render 'product-thumbnail',
                                                        media: media,
                                                        position: 'featured',
                                                        loop: section.settings.enable_video_looping,
                                                        modal_id: section.id,
                                                        xr_button: false,
                                                        media_width: media_width,
                                                        media_fit: section.settings.media_fit,
                                                        constrain_to_viewport: section.settings.constrain_to_viewport
                                                %}
                                            </div>
                                        {%- endif -%}
                                        {%- liquid
                                            assign media_to_render = product.featured_media.id
                                            for variant in product.variants
                                                assign media_to_render = media_to_render | append: variant.featured_media.id | append: ' '
                                            endfor
                                        -%}
                                        {%- for media in product.media -%}
                                            {%- if media_to_render contains media.id
                                            and media.id != product.selected_or_first_available_variant.featured_media.id
                                            -%}
                                                <div class="product__media-item"
                                                     data-media-id="{{ section.id }}-{{ media.id }}">
                                                    {% render 'product-thumbnail',
                                                            media: media,
                                                            position: forloop.index,
                                                            loop: section.settings.enable_video_looping,
                                                            modal_id: section.id,
                                                            xr_button: false,
                                                            media_width: media_width,
                                                            media_fit: section.settings.media_fit,
                                                            constrain_to_viewport: section.settings.constrain_to_viewport
                                                    %}
                                                </div>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    {%- else -%}
                                        <div class="product__media-item">
                                            <div
                                                    class="product-media-container global-media-settings gradient{% if section.settings.constrain_to_viewport %} constrain-height{% endif %}"
                                                    style="--ratio: 1.0; --preview-ratio: 1.0;"
                                            >
                                                {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                            </div>
                                        </div>
                                    {%- endif -%}
                                </div>
                                {%- if first_3d_model -%}
                                    <button
                                            class="button button--full-width product__xr-button"
                                            type="button"
                                            aria-label="{{ 'products.product.xr_button_label' | t }}"
                                            data-shopify-xr
                                            data-shopify-model3d-id="{{ first_3d_model.id }}"
                                            data-shopify-title="{{ product.title | escape }}"
                                            data-shopify-xr-hidden
                                    >
                                        {% render 'icon-3d-model' %}
                                        {{ 'products.product.xr_button' | t }}
                                    </button>
                                {%- endif -%}
                            </media-gallery>

                            {% render 'product-media-modal', product: product, variant_images: media_to_render %}

                            {%- if first_3d_model -%}
                                <script type="application/json"
                                        id="ProductJSON-{{ product.id }}">{{ product.media | where: 'media_type', 'model' | json }}</script>
                                <script src="{{ 'product-model.js' | asset_url }}" defer></script>
                            {%- endif -%}

                            {% if product.media.size > 0 %}
                                <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
                                <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
                            {% endif %}
                        </div>
                        <div class="product__info-wrapper grid__item scroll-trigger animate--slide-in">

                            <h2 class="product__title {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                                {%- if product.title != blank -%}
                                    {{ product.title | escape }}
                                {%- else -%}
                                    {{ 'onboarding.product_title' | t }}
                                {%- endif -%}
                            </h2>

                            <div class="no-js-hidden" id="price-{{ section.id }}"
                                 role="status" {{ block.shopify_attributes }}>
                                {%- render 'price',
                                        product: product,
                                        use_variant: true,
                                        show_badges: false,
                                        price_class: 'price--large'
                                -%}
                            </div>

                            <variant-radios
                                    id="variant-radios-{{ section.id }}"
                                    class="no-js-hidden"
                                    data-section="{{ section.id }}"
                                    data-url="{{ product.url }}"
                                    {% if update_url == false %}
                                        data-update-url="false"
                                    {% endif %}
                                    {{ block.shopify_attributes }}
                            >
                                {%- for option in product.options_with_values -%}
                                    <fieldset class="js product-form__input">
                                        <legend class="form__label">{{ option.name }}</legend>
                                        {% for value in option.values %}
                                            {%- assign variant = product.variants | where: 'option1', value | first -%}
                                            <input
                                                    type="radio"
                                                    id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                                    name="{{ option.name }}"
                                                    value="{{ value | escape }}"
                                                    data-inventory-quantity="{{ variant.inventory_quantity }}"
                                                    form="{{ product_form_id }}"
                                                    {% if option.selected_value == value %}
                                                        checked
                                                    {% endif %}
                                                    {% if option_disabled %}
                                                        class="disabled"
                                                    {% endif %}
                                            >
                                            <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                                                {{ value -}}
                                                <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
                                            </label>
                                        {%- endfor -%}
                                    </fieldset>
                                {%- endfor -%}
                                <script type="application/json">{{ product.variants | json }}</script>
                            </variant-radios>

                            {%- render 'buy-buttons',
                                    block: block,
                                    product: product,
                                    product_form_id: product_form_id,
                                    section_id: section.id
                            -%}

                            <a
                                    {% if product == blank %}
                                        role="link" aria-disabled="true"
                                    {% else %}
                                        href="{{ product.url }}"
                                    {% endif %}
                                    class="link animate-arrow show_more"
                            >
                                {{ 'products.product.view_full_details' | t }}
                                {% render 'icon-arrow' %}
                            </a>
                        </div>
                    </div>

                {% when 'message' %}
                    <div class="modal_message"
                         style="background: url('{{ block.settings.background_image | img_url: 'master' }}') center/cover no-repeat">
                        {% if block.settings.title != blank %}
                            <h3>{{ block.settings.title }}</h3>
                        {% endif %}
                        {% if block.settings.text != blank %}
                            <p>{{ block.settings.text }}</p>
                        {% endif %}
                        {% if block.settings.url != blank %}
                            <a href="{{ block.settings.url }}"
                               class="button button--primary">{{ block.settings.link_label }}</a>
                        {% endif %}
                    </div>
                {% when 'image' %}
                {% if block.settings.image != blank %}
                    <div class="img_box">
                        <img src="{{ block.settings.image | img_url: 'master' }}" alt=""/>
                    </div>
                {% endif %}
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    const modal = document.querySelector('.modal');
    const targetElement = document.getElementById('custom_modal');
    const body = document.querySelector('body');
    const closeModal = modal.querySelector('.modal .close');
    const showModalKey = 'showModal';

    // if (!sessionStorage.getItem(showModalKey)) {

    {% if section.settings.appearance_options == "when_load" %}
    document.addEventListener('DOMContentLoaded', () => {
        modal.classList.add('show');
        body.classList.add('modal_show');
    });
    {% endif %}

    {% if section.settings.appearance_options == "when_scroll" %}
    let isConditionMet = false;
    window.addEventListener('scroll', () => {
        if (!isConditionMet) {
            let hT = targetElement.offsetTop;
            let hH = targetElement.offsetHeight;
            let wH = window.innerHeight;
            let wS = window.scrollY;

            if (wS > (hT + hH - wH)) {
                modal.classList.add('show');
                body.classList.add('modal_show');
                isConditionMet = true;
            }
        }
    });
    {% endif %}

    sessionStorage.setItem(showModalKey, 'true');

    // }

    closeModal.addEventListener('click', () => {
        modal.classList.remove('show');
        body.classList.remove('modal_show');
    });

    window.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.classList.remove('show');
            body.classList.remove('modal_show');
        }
    });

</script>

{% schema %}
{
"name": "Modal",
"disabled_on": {
"groups": ["header", "footer"]
},
"max_blocks": 1,
"settings": [
{
"type": "range",
"id": "modal_width",
"min": 200,
"max": 1200,
"step": 10,
"default": 800,
"label": "Modal width"
},
{
"type": "select",
"id": "appearance_options",
"options": [
{
"value": "when_load",
"label": "When load"
},
{
"value": "when_scroll",
"label": "When scroll to block"
}
],
"default": "when_load",
"label": "Appearance options"
}
],
"blocks": [
{
"type": "product",
"name": "Product",
"settings": [
{
"type": "product",
"id": "product",
"label": "Product"
}
]
},
{
"type": "message",
"name": "Message",
"settings": [
{
"type": "image_picker",
"id": "background_image",
"label": "Background image"
},
{
"type": "inline_richtext",
"id": "title",
"label": "t:sections.multicolumn.blocks.column.settings.title.label"
},
{
"type": "richtext",
"id": "text",
"label": "t:sections.multicolumn.blocks.column.settings.text.label"
},
{
"type": "text",
"id": "link_label",
"label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
},
{
"type": "url",
"id": "link",
"label": "t:sections.multicolumn.blocks.column.settings.link.label"
}
]
},
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
]
}
],
"presets": [
{
"name": "Modal"
}
]
}
{% endschema %}

